@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default arrow from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div {
  color: "#000000";
}

/* Video Call container */
/* #container {
  width: 100vw;
  height: 100vh;
} */

/* media controls */
/* #local-media-controls {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background: #fff;
  padding: 10px 0;
  display: none;
}

#local-media-controls button {
  margin: 0 5px;
}

.media-active {
  background-color: #1a1a1a;
} */

/* only show hover if button not focused */
/* .media-active:hover:not(:focus) {
  background-color: #fff;
  color: #cd3333;
  border: 1px solid #cd3333;
}

.muted {
  background: #b62b2b;
} */

/* only show hover if button not focused */
/* .muted:hover:not(:focus) {
  background-color: #b62b2b73;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
} */

/* UI */
/* #buttons-container {
  position: absolute;
  z-index: 2;
  width: 100vw;
} */

/* #full-screen-video {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#local-video-container {
  position: absolute;
  float: right;
  bottom: 27px;
  right: 10px;
  width: 360px;
  height: 270px;
}

#local-video {
  position: absolute;
  z-index: 1;
  width: 360px;
  height: 270px;
}

#local-video div {
  border-radius: 10px;
} */

/* #remote-video-container {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  background-color: #000;
  overflow-x: scroll;
  overflow-y: hidden;
} */

.remote-video {
  width: 100%;
  height: 100%;
  /* width: 20vw;
  max-width: 312px;
  min-width: 0;
  aspect-ratio: 1.33; */
}

/* Join Channel Modal */
/* #overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  opacity: 0;
  z-index: -10;
  transition: opacity 0.5s ease;
}

.show {
  display: block;
  opacity: 1;
  z-index: 10;
}

#overlay > * {
  margin: 0 0 25px;
  color: #2d2929;
}

#modal-overlay button[type="submit"] {
  max-width: 20vw;
  margin: 0 auto;
}

#modal-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 650px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 25px;
}

#modal-header,
#modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal-body {
  margin: 20px 0;
}

.form-group {
  margin: 0 0 20px;
}

.form-control {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 5px;
}

#join-channel-btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #099dfd;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#join-channel-btn:hover {
  background-color: #fff;
  color: #099dfd;
  border: 2px solid #099dfd;
  border-radius: 5px;
} */
